body {

  background: none;
  /* padding: 0.3rem 0.3rem 0 0; */
  padding: 0;
  min-width: 270px;

}

.row {

  margin-left: 0;
  margin-right: 0;

}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
{

  padding-left: 0;
  padding-right: 0;

}

table.dataTable
{

  margin-top: 0px !important;

}

.dt-header-wrapper
{

  position: relative;

}

.dt-free-text-search
{

  margin: 2rem 0;

}

.dt-buttons
{

  margin: 0 0 2rem;

}

#dtprv_wrapper.form-inline .btn
{

  margin-left: 0;

}

#dtprv_wrapper .dataTables_length
{

    width: 20%;
    margin: 0.4rem 2rem 0 0;

}

#dtprv_wrapper .dt-buttons
{

  float: left;
  clear: left;
  
}


#dtprv_wrapper .dataTables_info
{

}

#dtprv_wrapper  div.dataTables_paginate {

  float: right;

}

.dataTables_length label::after{

  content: ''

}

div.dataTables_wrapper span.select-info, div.dataTables_wrapper span.select-item
{
  
  float: none; 

}

.select-info::before
{
  content: ' / ';
}

.paging_extStyle
{

  border: 1px solid #0D2856;
  border-radius: 0.8rem;
  float: left;
  padding: .25rem 0.5rem;

}

.paginate_input_box
{

  border: 0.1rem solid #A5A09C;
  border-radius: 0.8rem;
  width: auto;
  text-align: center;
  display: block;
  float: left;

}

.start_row_input_box,
.end_row_input_box
{

  width: 3rem;
  text-align: center;
  display: block;
  float: left;


}

.range_separator
{

  display: block;
  float: left;

}

.form-inline .paginate_input_box,
.form-inline .start_row_input_box,
.form-inline .end_row_input_box
{

  font-size: 1.2rem;
  padding: 0;

}

.paginate_button
{

  display: inline-block;
  /* width: 2rem; */
  text-align: center;
  font-size: 2rem;
  margin: 0 0 0;
  line-height: 2.2rem;
  cursor: pointer;
  display: block;
  float: left;

}

.paginate_button.disabled
{

  color: #E0E0E0;
  cursor: not-allowed;

}

.pagination > .disabled > span, 
.pagination > .disabled > span:hover, 
.pagination > .disabled > span:focus, 
.pagination > .disabled > a, 
.pagination > .disabled > a:hover, 
.pagination > .disabled > a:focus 
{

  color: #E0E0E0;

}

div.dataTables_wrapper div.dataTables_filter
{

  float: right;

}

div.dataTables_wrapper div.dataTables_filter input
{

  border: 1px solid #0D2856;
  border-radius: 0.8rem;
  font-size: 1.4rem;
  padding: 0.7rem;
  width: 100%;

}

.dataTables_filter
{

  margin-right: 0.1rem;

}

.dataTables_filter label::after{

  content: "";
  /* prevent border overlap issue */
  margin-right: .1rem;

}

div.dataTables_wrapper div.dataTables_filter button.dt-search-cancel
{

  display: none;
  border: none;
  position: absolute;
  right: 1.3rem;
  top: 0.7rem;
  background: transparent;
  font-size: 2rem;
  border-radius: 1rem;
  padding: 0;

}

button:focus,
button:focus-visible,
[contenteditable="true"]:focus
{
  
  -moz-box-shadow: 0 0 0 0.4rem #D9EEF3;
  -webkit-box-shadow: 0 0 0 0.4rem #D9EEF3;
  box-shadow: 0 0 0 0.4rem #D9EEF3;
  outline: none;

}

#dtprv_status
{

  padding: 0;

}

#dtprv_status p
{

  padding: 1rem 0 1rem;
  margin: 0;

}

#sharesearch_status
{

  font-size: 1.4rem;
  line-height: 1.8rem;
  margin: 0;
  padding: 1rem 0;


}

#sharesearch_status .notice
{

  color: #009E89;
  
}

#sharesearch_status .warning
{

  color: #E23014;

}

#sharesearch_status .reload
{

  margin-top: 1rem;

}


/* OVERRIDES for table layout */

/*
#dtprv_wrapper table.dataTable
{

  border-right: 1px solid #ff0000;

}
*/

.dataTables_scroll
{

  border-right: 1px solid #0D2856;
  

}

/* Don't show sort arrows unless the column is the current sort column or the th is in a hver state */
#dtprv_wrapper table.dataTable thead > tr > th.sorting:before, 
#dtprv_wrapper table.dataTable thead > tr > th.sorting:after, 
#dtprv_wrapper table.dataTable thead > tr > th.sorting_asc:before, 
#dtprv_wrapper table.dataTable thead > tr > th.sorting_asc:after, 
#dtprv_wrapper table.dataTable thead > tr > th.sorting_desc:before, 
#dtprv_wrapper table.dataTable thead > tr > th.sorting_desc:after, 
#dtprv_wrapper table.dataTable thead > tr > th.sorting_asc_disabled:before, 
#dtprv_wrapper table.dataTable thead > tr > th.sorting_asc_disabled:after, 
#dtprv_wrapper table.dataTable thead > tr > th.sorting_desc_disabled:before, 
#dtprv_wrapper table.dataTable thead > tr > th.sorting_desc_disabled:after,
#dtprv_wrapper table.dataTable thead > tr > td.sorting:before,
#dtprv_wrapper table.dataTable thead > tr > td.sorting:after,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_asc:before,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_asc:after,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_desc:before,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_desc:after,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_asc_disabled:before,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_asc_disabled:after,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_desc_disabled:before,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_desc_disabled:after, 

div.dtfh-floatingparent table.dataTable thead > tr > th.sorting:before, 
div.dtfh-floatingparent table.dataTable thead > tr > th.sorting:after, 
div.dtfh-floatingparent table.dataTable thead > tr > th.sorting_asc:before, 
div.dtfh-floatingparent table.dataTable thead > tr > th.sorting_asc:after, 
div.dtfh-floatingparent table.dataTable thead > tr > th.sorting_desc:before, 
div.dtfh-floatingparent table.dataTable thead > tr > th.sorting_desc:after, 
div.dtfh-floatingparent table.dataTable thead > tr > th.sorting_asc_disabled:before, 
div.dtfh-floatingparent table.dataTable thead > tr > th.sorting_asc_disabled:after, 
div.dtfh-floatingparent table.dataTable thead > tr > th.sorting_desc_disabled:before, 
div.dtfh-floatingparent table.dataTable thead > tr > th.sorting_desc_disabled:after


{
  opacity: 0;
  line-height: 1rem;
  font-size: .9em;
}

/* The default unicode arrows don't match in height so we are using these instead */

#dtprv_wrapper table.dataTable thead > tr > th.sorting:before, 
#dtprv_wrapper table.dataTable thead > tr > th.sorting_asc:before, 
#dtprv_wrapper table.dataTable thead > tr > th.sorting_desc:before, 
#dtprv_wrapper table.dataTable thead > tr > th.sorting_asc_disabled:before, 
#dtprv_wrapper table.dataTable thead > tr > th.sorting_desc_disabled:before,
#dtprv_wrapper table.dataTable thead > tr > td.sorting:before,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_asc:before,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_desc:before,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_asc_disabled:before,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_desc_disabled:before,

div.dtfh-floatingparent table.table-bordered thead > tr > th.sorting:before, 
div.dtfh-floatingparent table.table-bordered thead > tr > th.sorting_asc:before, 
div.dtfh-floatingparent table.table-bordered thead > tr > th.sorting_desc:before, 
div.dtfh-floatingparent table.table-bordered thead > tr > th.sorting_asc_disabled:before, 
div.dtfh-floatingparent table.table-bordered thead > tr > th.sorting_desc_disabled:before


{
  content: "▲";
}

#dtprv_wrapper table.dataTable thead > tr > th.sorting:after, 
#dtprv_wrapper table.dataTable thead > tr > th.sorting_asc:after, 
#dtprv_wrapper table.dataTable thead > tr > th.sorting_desc:after, 
#dtprv_wrapper table.dataTable thead > tr > th.sorting_asc_disabled:after, 
#dtprv_wrapper table.dataTable thead > tr > th.sorting_desc_disabled:after,
#dtprv_wrapper table.dataTable thead > tr > td.sorting:after,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_asc:after,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_desc:after,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_asc_disabled:after,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_desc_disabled:after, 

div.dtfh-floatingparent table.table-bordered thead > tr > th.sorting:after, 
div.dtfh-floatingparent table.table-bordered thead > tr > th.sorting_asc:after, 
div.dtfh-floatingparent table.table-bordered thead > tr > th.sorting_desc:after, 
div.dtfh-floatingparent table.table-bordered thead > tr > th.sorting_asc_disabled:after, 
div.dtfh-floatingparent table.table-bordered thead > tr > th.sorting_desc_disabled:after

{
  content: "▼";
}

/* When a solumn is the sort column, show the dark version of the appropriate arrow */
#dtprv_wrapper table.dataTable thead > tr > th.sorting_asc:before, 
#dtprv_wrapper table.dataTable thead > tr > th.sorting_desc:after,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_asc:before,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_desc:after, 

div.dtfh-floatingparent table.dataTable thead > tr > th.sorting_asc:before, 
div.dtfh-floatingparent table.dataTable thead > tr > th.sorting_desc:after

{
  opacity: 0.6;
}

/* When hovering over a th with no sort set, show up arrow as dark and down arrow as light */
#dtprv_wrapper table.dataTable thead > tr > th:hover:before, 
#dtprv_wrapper table.dataTable thead > tr > td:hover:before,

div.dtfh-floatingparent table.dataTable thead > tr > th:hover:before
{
  opacity: 0.6;
}

#dtprv_wrapper table.dataTable thead > tr > th:hover:after,
#dtprv_wrapper table.dataTable thead > tr > td:hover:after,
div.dtfh-floatingparent table.dataTable thead > tr > th:hover:after
{
  opacity: 0.125;
}

/* When hovering over a th that is the current sort order set to ascending, show dark down arrow and light up arrow */
#dtprv_wrapper table.dataTable thead > tr > th.sorting_desc:hover:after,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_desc:hover:after,

div.dtfh-floatingparent table.dataTable thead > tr > th.sorting_desc:hover:after
{
  opacity: 0.6;
}

#dtprv_wrapper table.dataTable thead > tr > th.sorting_desc:hover:before, 
#dtprv_wrapper table.dataTable thead > tr > td.sorting_desc:hover:before, 
div.dtfh-floatingparent table.dataTable thead > tr > th.sorting_desc:hover:before
{
  opacity: 0.126;
}


div.dataTables_scrollBody
{

  border-left: 1px solid #0D2856 !important;
  border-bottom: 1px solid #0D2856 !important;

}


#dtprv_wrapper .table-bordered, 
div.dtfh-floatingparent  .table-bordered
{

  border-color: #0D2856;

}

.dataTables_scroll
{

  border-top-width: 1px !important;
  clear: both;

}


#dtprv_wrapper div.dataTables_scrollFootInner table.table-bordered tr th:first-child, 
#dtprv_wrapper div.dataTables_scrollHeadInner table.table-bordered tr th:first-child,
div.dtfh-floatingparent table.table-bordered tr th:first-child  
{
  border-left: 1px solid #0D2856 !important;
  
}

#dtprv_wrapper table.table-bordered tr th:first-child, 
#dtprv_wrapper table.table-bordered tr th:last-child,
#dtprv_wrapper table.table-bordered tr td:first-child, 
#dtprv_wrapper table.table-bordered tr td:last-child,
div.dtfh-floatingparent table.table-bordered tr th:last-child  
{

  border-right-width: 2px !important;

}

#dtprv_wrapper table.table-bordered tr th:last-child,
#dtprv_wrapper table.table-bordered tr td:last-child,
div.dtfh-floatingparent table.table-bordered tr th:last-child  
{
  border-right-width: 0 !important;
}


#dtprv_wrapper div.dataTables_scrollFootInner table.table-bordered tr th, 
#dtprv_wrapper div.dataTables_scrollHeadInner table.table-bordered tr th,
div.dtfh-floatingparent table.table-bordered tr th  
{

  border-bottom-width: .3rem;
  
}

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td
{

  border-bottom-width: .1rem;
  
}

#dtprv_wrapper table tr th,
div.dtfh-floatingparent tr th
{

  vertical-align: middle;

}

#dtprv_wrapper table tr th:first-child,
#dtprv_wrapper table tr td:first-child
{

  text-align: center;

}

#dtprv_wrapper table tr td.dataTables_empty
{

  text-align: left;

}

#dtprv_wrapper table tr th:last-child
{

  border-radius: 0 0 0 0;

}


#dtprv_wrapper .table-bordered > thead > tr > th, 
#dtprv_wrapper .table-bordered > tbody > tr > th, 
#dtprv_wrapper .table-bordered > tfoot > tr > th, 
#dtprv_wrapper .table-bordered > thead > tr > td,
#dtprv_wrapper .table-bordered > tbody > tr > td, 
#dtprv_wrapper .table-bordered > tfoot > tr > td, 
div.dtfh-floatingparent table.table-bordered tr th
{

  border-color: #0D2856;

}

#dtprv_wrapper .table-bordered > thead > tr > th, 
#dtprv_wrapper .table-bordered > tbody > tr > th, 
#dtprv_wrapper .table-bordered > tfoot > tr > th,
div.dtfh-floatingparent table.table-bordered > thead > tr > th
{

  text-align: center;
  color: #0C142D;

}

#dtprv_wrapper .table-bordered > thead > tr > td,
#dtprv_wrapper .table-bordered > tbody > tr > td, 
#dtprv_wrapper .table-bordered > tfoot > tr > td 
{

  color: #59555B;

  /* tables look nicer when fields aren't too narrow */
  min-width: 12rem;

}

/* allow first column to be narrow */
#dtprv_wrapper table.table-bordered tr th:first-child, 
#dtprv_wrapper table.table-bordered tr td:first-child
{

  min-width: 1rem;
  width: 1rem;

}




.tooltip-main {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-weight: 700;
  background: #f3f3f3;
  border: 1px solid #0D2856;
  color: #0D2856;
  margin: 4px 121px 0 5px;
  float: right;
  text-align: left !important;
}

.tooltip-qm {
  float: left;
  margin: -2px 0px 3px 4px;
  font-size: 12px;
}

.tooltip-inner {
  max-width: 236px !important;
  font-size: 1.6rem;
  padding: 10px 15px 10px 20px;
  background: #fff;
  color: #59555B;
  border: 1px solid #0D2856;
  text-align: left;
  opacity: 1;
  filter: alpha(opacity=100);
}

.tooltip.show {
  opacity: 1;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #f00;
  /* Red */
}

.tooltip.in{
  opacity:1!important;
}

#dtprv_wrapper .tooltip-inner
{

-moz-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);

}

#dtprv_wrapper .tooltip.top
{

  margin-top: 0.1rem;

}

#dtprv_wrapper .tooltip.bottom
{

  margin-top: -0.1rem;

}


.ellipsis
{

  white-space: unset;
  cursor: default;

}


/* custom height so that advanced search button matches free text saerch input */
.advanced-search button.btn-secondary
{

  line-height: 2.0rem;

}

.advanced-search button.btn-secondary:hover
{

  line-height: 1.8rem;

}

/* Remove border and shadow from processing panel */
div.dataTables_wrapper .dataTables_processing.panel
{

  border: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
  top: 15rem;


}

#dtprv_wrapper .dtsb-searchBuilder
{

  width: 100%;
  clear: both;
  margin: 0 0 1em 0;
  display: none;

}

/* 
Surely SearchBuilder will fix this upstream at 
some point, but for now with the liveSearch 
setting turned on, the new search button feature 
should be hidden. Instead it's element styled as 
inline-block so we get to override it with !important
*/
.dtsb-search.dtsb-button
{

  display: none !important;

}


/* Override criteria border coloring in search builder */
div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria select.dtsb-data,
div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria select.dtsb-condition,
div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria select.dtsb-value, 
div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria input.dtsb-value
{

   border: 1px solid #0D2856;
   border-radius: 1rem;
   background: #fff;

}

div.dtsb-searchBuilder div.dtsb-titleRow button.dtsb-clearAll 
{

  float: left;
  font-size: 1.2rem;

}

div.dtsb-searchBuilder button.dtsb-add
{

  font-size: 1.2rem;

}

div.dtsb-searchBuilder div.dtsb-group div.dtsb-logicContainer
{

  border: 1px solid #0B7D8E;
  border-radius: 1rem;
  font-size: 1.2rem;

}

div.dtsb-searchBuilder div.dtsb-group div.dtsb-logicContainer button.dtsb-logic,
div.dtsb-searchBuilder div.dtsb-group div.dtsb-logicContainer button.dtsb-clearGroup
{

  color: #0B7D8E;
  border-radius: 1rem;

}

.dtsb-button
{

  border: 1px solid #0D2856;

}

.dtsb-buttonContainer
{

  font-size: 1rem;

}

.nav-tabs .fa:last-child, .module-heading .fa:last-child, .btn .fa:last-child
{

  margin: 0;

}
#dtprv_wrapper div.dtsb-searchBuilder div.dtsb-titleRow {
  /* we don't want a separate title for SearchBuilder */
  height: 0;
}

#dtprv_wrapper table.dataTable>tbody>tr.selected>* {
  box-shadow: inset 0 0 0 9999px #0B7D8E;
  color: #fff;
}

#dtprv_wrapper table.dataTable>tbody>tr.selected>td:first-child {
  box-shadow: inset 0 0 0 9999px #e0e0e0;
  color: #59555B;
}

#dtprv_wrapper th.gt100
{

  width: 300px !important;

}
#dtprv_wrapper th.gt500
{

  width: 500px !important;

}

#dtprv_wrapper th.gt1000
{

  width: 700px !important;

}

#dtprv_wrapper table.dataTable>tbody>tr>td.select-checkbox:before, 
#dtprv_wrapper table.dataTable>tbody>tr>th.select-checkbox:before
{

  margin-top: 15px;

}

#dtprv_wrapper table.dataTable>tbody>tr.selected>td.select-checkbox:after, 
#dtprv_wrapper table.dataTable>tbody>tr.selected>th.select-checkbox:after
{

  margin-top: 0;

}


/* Column Headers and Left Row */


#dtprv_wrapper table.table-bordered tr td.dtfc-fixed-left {

  border-right: 20px solid #0D2856;
  ;

}

/*
table.dataTable thead > tr > th:first-child.sorting, 
table.dataTable thead > tr > th:first-child.sorting_asc, 
table.dataTable thead > tr > th:first-child.sorting_desc, 
table.dataTable thead > tr > th:first-child.sorting_asc_disabled, 
table.dataTable thead > tr > th:first-child.sorting_desc_disabled, 
table.dataTable thead > tr > td:first-child.sorting, 
table.dataTable thead > tr > td:first-child.sorting_asc, 
table.dataTable thead > tr > td:first-child.sorting_desc, 
table.dataTable thead > tr > td:first-child.sorting_asc_disabled, 
table.dataTable thead > tr > td:first-child.sorting_desc_disabled 
{
  cursor: pointer;
  position: relative;
  padding-right: 46px;
}
*/

table.dataTable thead > tr > th:first-child.sorting:before, 
table.dataTable thead > tr > th:first-child.sorting:after, 
table.dataTable thead > tr > th:first-child.sorting_asc:before, 
table.dataTable thead > tr > th:first-child.sorting_asc:after, 
table.dataTable thead > tr > th:first-child.sorting_desc:before, 
table.dataTable thead > tr > th:first-child.sorting_desc:after, 
table.dataTable thead > tr > th:first-child.sorting_asc_disabled:before, 
table.dataTable thead > tr > th:first-child.sorting_asc_disabled:after, 
table.dataTable thead > tr > th:first-child.sorting_desc_disabled:before, 
table.dataTable thead > tr > th:first-child.sorting_desc_disabled:after, 
table.dataTable thead > tr > td:first-child.sorting:before, 
table.dataTable thead > tr > td:first-child.sorting:after, 
table.dataTable thead > tr > td:first-child.sorting_asc:before, 
table.dataTable thead > tr > td:first-child.sorting_asc:after, 
table.dataTable thead > tr > td:first-child.sorting_desc:before, 
table.dataTable thead > tr > td:first-child.sorting_desc:after, 
table.dataTable thead > tr > td:first-child.sorting_asc_disabled:before, 
table.dataTable thead > tr > td:first-child.sorting_asc_disabled:after, 
table.dataTable thead > tr > td:first-child.sorting_desc_disabled:before, 
table.dataTable thead > tr > td:first-child.sorting_desc_disabled:after 
{
  right: 20px;
}

div.dtfc-right-top-blocker, div.dtfc-left-top-blocker
{

  background: transparent !important;
  border-top: 1px solid #000;
  border-bottom: 3px solid #000 !important;
  margin-top: 0;

}

/* Prevent and/or logic box from breaking */
div.dtsb-searchBuilder div.dtsb-group {


}

div.dtsb-searchBuilder div.dtsb-group
{

  margin-bottom: 1rem;

}

div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria select.dtsb-dropDown, 
div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria input.dtsb-input
{

  min-width: 12rem;
  max-width: 30%;

}

.dtsb-criteria.warning{

  background: #FFC107;

}

#sharesearch_status {

  margin-top: 1rem;
  font-weight: bold;

}

#sharesearch_status .warning {

  color: #E23014;

}

@media (min-width: 0) 
{

  div.dataTables_wrapper div.dataTables_filter
  {

    float: none;
    width: 98%;
    margin: 0 1%;

  }

  div.dataTables_wrapper div.dataTables_filter label
  {

    display: inline;

  }

  div.dataTables_wrapper div.dataTables_filter input
  {

    margin-left: 0;

  }

}

@media (min-width: 400px) 
{

}

@media (min-width: 550px) 
{

  div.dataTables_wrapper div.dataTables_filter
  {

    float: left;
    width: 98%;
    margin: 0 0rem 0 0;

  }

  #dtprv_wrapper div.dt-buttons
  {

    float: left;
    width: auto;
    margin-top: 1rem;

  }


  div.dataTables_wrapper div.dataTables_filter label
  {

    /* display: inline-block; */

  }

  div.dataTables_wrapper div.dataTables_filter input
  {

  }


}

@media (min-width: 768px) 
{

}

@media (min-width: 992px) 
{

}

@media (min-width: 1200px) 
{

}




