include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/datatablesview_twdh *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/datatablesview_twdh/migration *.ini *.py *.mako
