include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/datatablesview_plus *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/datatablesview_plus/migration *.ini *.py *.mako
