body {
  background: none;
  /* padding: 0.3rem 0.3rem 0 0; */
  padding: 0;
  
}

table.dataTable
{

  margin-top: 0px !important;

}

#dtprv_wrapper .dt-buttons,
#dtprv_wrapper .dataTables_length,
#dtprv_wrapper .dataTables_info
{

    float: left;
    margin-right: 2rem;

}

#dtprv_wrapper .dataTables_info
{

  padding: 0.5rem;

}


.paging_extStyle
{

  border: 1px solid #0D2856;
  border-radius: 0.8rem;
  float: left;
  padding: .25rem 0.5rem;

}

.paginate_input_box
{

  border: 0.1rem solid #A5A09C;
  border-radius: 0.8rem;
  width: auto;
  text-align: center;
  display: block;
  float: left;

}

.start_row_input_box,
.end_row_input_box
{

  width: 3rem;
  text-align: center;
  display: block;
  float: left;


}

.range_separator
{

  display: block;
  float: left;

}

.form-inline .paginate_input_box,
.form-inline .start_row_input_box,
.form-inline .end_row_input_box
{

  font-size: 1.2rem;
  padding: 0;

}

.paginate_button
{

  display: inline-block;
  width: 2rem;
  text-align: center;
  font-size: 2rem;
  margin: 0 0 0;
  line-height: 2.2rem;
  cursor: pointer;
  display: block;
  float: left;

}

.paginate_button.disabled
{

  color: #E0E0E0;
  cursor: not-allowed;

}

div.dataTables_wrapper div.dataTables_filter label
{

}

div.dataTables_wrapper div.dataTables_filter input
{

  border: 1px solid #0D2856;
  border-radius: 0.8rem;
  font-size: 1.4rem;
  padding: 0.7rem;


}

.dataTables_filter
{

  margin-right: 0.1rem;

}

.dataTables_filter label::after{

  content: "";
  /* prevent border overlap issue */
  margin-right: .1rem;

}

#dtprv_status
{

  clear: both;
  margin: 0.5rem auto;

}

#dtprv_status .warning
{

  font-size: 1.4rem;
  line-height: 1.8rem;
  margin: 0;
  padding: 1rem 0;

}

#dtprv_status .warning .error-icon 
{

  margin: 1rem;

}



/* OVERRIDES for table layout */

/*
#dtprv_wrapper table.dataTable
{

  border-right: 1px solid #ff0000;

}
*/

.dataTables_scroll
{

  border-right: 1px solid #0D2856;
  

}

/* Don't show sort arrows unless the column is the current sort column or the th is in a hver state */
#dtprv_wrapper table.dataTable thead > tr > th.sorting:before, 
#dtprv_wrapper table.dataTable thead > tr > th.sorting:after, 
#dtprv_wrapper table.dataTable thead > tr > th.sorting_asc:before, 
#dtprv_wrapper table.dataTable thead > tr > th.sorting_asc:after, 
#dtprv_wrapper table.dataTable thead > tr > th.sorting_desc:before, 
#dtprv_wrapper table.dataTable thead > tr > th.sorting_desc:after, 
#dtprv_wrapper table.dataTable thead > tr > th.sorting_asc_disabled:before, 
#dtprv_wrapper table.dataTable thead > tr > th.sorting_asc_disabled:after, 
#dtprv_wrapper table.dataTable thead > tr > th.sorting_desc_disabled:before, 
#dtprv_wrapper table.dataTable thead > tr > th.sorting_desc_disabled:after,
#dtprv_wrapper table.dataTable thead > tr > td.sorting:before,
#dtprv_wrapper table.dataTable thead > tr > td.sorting:after,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_asc:before,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_asc:after,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_desc:before,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_desc:after,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_asc_disabled:before,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_asc_disabled:after,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_desc_disabled:before,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_desc_disabled:after, 

div.dtfh-floatingparent table.dataTable thead > tr > th.sorting:before, 
div.dtfh-floatingparent table.dataTable thead > tr > th.sorting:after, 
div.dtfh-floatingparent table.dataTable thead > tr > th.sorting_asc:before, 
div.dtfh-floatingparent table.dataTable thead > tr > th.sorting_asc:after, 
div.dtfh-floatingparent table.dataTable thead > tr > th.sorting_desc:before, 
div.dtfh-floatingparent table.dataTable thead > tr > th.sorting_desc:after, 
div.dtfh-floatingparent table.dataTable thead > tr > th.sorting_asc_disabled:before, 
div.dtfh-floatingparent table.dataTable thead > tr > th.sorting_asc_disabled:after, 
div.dtfh-floatingparent table.dataTable thead > tr > th.sorting_desc_disabled:before, 
div.dtfh-floatingparent table.dataTable thead > tr > th.sorting_desc_disabled:after


{
  opacity: 0;
  line-height: 1rem;
  font-size: .9em;
}

/* The default unicode arrows don't match in height so we are using these instead */

#dtprv_wrapper table.dataTable thead > tr > th.sorting:before, 
#dtprv_wrapper table.dataTable thead > tr > th.sorting_asc:before, 
#dtprv_wrapper table.dataTable thead > tr > th.sorting_desc:before, 
#dtprv_wrapper table.dataTable thead > tr > th.sorting_asc_disabled:before, 
#dtprv_wrapper table.dataTable thead > tr > th.sorting_desc_disabled:before,
#dtprv_wrapper table.dataTable thead > tr > td.sorting:before,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_asc:before,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_desc:before,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_asc_disabled:before,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_desc_disabled:before,

div.dtfh-floatingparent table.table-bordered thead > tr > th.sorting:before, 
div.dtfh-floatingparent table.table-bordered thead > tr > th.sorting_asc:before, 
div.dtfh-floatingparent table.table-bordered thead > tr > th.sorting_desc:before, 
div.dtfh-floatingparent table.table-bordered thead > tr > th.sorting_asc_disabled:before, 
div.dtfh-floatingparent table.table-bordered thead > tr > th.sorting_desc_disabled:before


{
  content: "▲";
}

#dtprv_wrapper table.dataTable thead > tr > th.sorting:after, 
#dtprv_wrapper table.dataTable thead > tr > th.sorting_asc:after, 
#dtprv_wrapper table.dataTable thead > tr > th.sorting_desc:after, 
#dtprv_wrapper table.dataTable thead > tr > th.sorting_asc_disabled:after, 
#dtprv_wrapper table.dataTable thead > tr > th.sorting_desc_disabled:after,
#dtprv_wrapper table.dataTable thead > tr > td.sorting:after,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_asc:after,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_desc:after,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_asc_disabled:after,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_desc_disabled:after, 

div.dtfh-floatingparent table.table-bordered thead > tr > th.sorting:after, 
div.dtfh-floatingparent table.table-bordered thead > tr > th.sorting_asc:after, 
div.dtfh-floatingparent table.table-bordered thead > tr > th.sorting_desc:after, 
div.dtfh-floatingparent table.table-bordered thead > tr > th.sorting_asc_disabled:after, 
div.dtfh-floatingparent table.table-bordered thead > tr > th.sorting_desc_disabled:after

{
  content: "▼";
}

/* When a solumn is the sort column, show the dark version of the appropriate arrow */
#dtprv_wrapper table.dataTable thead > tr > th.sorting_asc:before, 
#dtprv_wrapper table.dataTable thead > tr > th.sorting_desc:after,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_asc:before,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_desc:after, 

div.dtfh-floatingparent table.dataTable thead > tr > th.sorting_asc:before, 
div.dtfh-floatingparent table.dataTable thead > tr > th.sorting_desc:after

{
  opacity: 0.6;
}

/* When hovering over a th with no sort set, show up arrow as dark and down arrow as light */
#dtprv_wrapper table.dataTable thead > tr > th:hover:before, 
#dtprv_wrapper table.dataTable thead > tr > td:hover:before,

div.dtfh-floatingparent table.dataTable thead > tr > th:hover:before
{
  opacity: 0.6;
}

#dtprv_wrapper table.dataTable thead > tr > th:hover:after,
#dtprv_wrapper table.dataTable thead > tr > td:hover:after,
div.dtfh-floatingparent table.dataTable thead > tr > th:hover:after
{
  opacity: 0.125;
}

/* When hovering over a th that is the current sort order set to ascending, show dark down arrow and light up arrow */
#dtprv_wrapper table.dataTable thead > tr > th.sorting_desc:hover:after,
#dtprv_wrapper table.dataTable thead > tr > td.sorting_desc:hover:after,

div.dtfh-floatingparent table.dataTable thead > tr > th.sorting_desc:hover:after
{
  opacity: 0.6;
}

#dtprv_wrapper table.dataTable thead > tr > th.sorting_desc:hover:before, 
#dtprv_wrapper table.dataTable thead > tr > td.sorting_desc:hover:before, 
div.dtfh-floatingparent table.dataTable thead > tr > th.sorting_desc:hover:before
{
  opacity: 0.126;
}



div.dataTables_scrollBody
{

  border-left: 1px solid #0D2856 !important;
  /* border-right: 1px solid #0D2856 !important; */

}


#dtprv_wrapper .table-bordered, 
div.dtfh-floatingparent  .table-bordered
{

  border-color: #0D2856;
}

#dtprv_wrapper div.dataTables_scrollFootInner table.table-bordered tr th:first-child, 
#dtprv_wrapper div.dataTables_scrollHeadInner table.table-bordered tr th:first-child,
div.dtfh-floatingparent table.table-bordered tr th:first-child  
{
  border-left: 1px solid #0D2856 !important;
}

#dtprv_wrapper table tr th
{

  vertical-align: middle;

}

#dtprv_wrapper table tr th:first-child,
#dtprv_wrapper table tr td:first-child
{

  text-align: center;

}

#dtprv_wrapper table tr th:last-child
{

  border-radius: 0 0 0 0;

}


#dtprv_wrapper .table-bordered > thead > tr > th, 
#dtprv_wrapper .table-bordered > tbody > tr > th, 
#dtprv_wrapper .table-bordered > tfoot > tr > th, 
#dtprv_wrapper .table-bordered > thead > tr > td,
#dtprv_wrapper .table-bordered > tbody > tr > td, 
#dtprv_wrapper .table-bordered > tfoot > tr > td, 
div.dtfh-floatingparent table.table-bordered tr th
{

  border-color: #0D2856;

}

#dtprv_wrapper .table-bordered > thead > tr > th, 
#dtprv_wrapper .table-bordered > tbody > tr > th, 
#dtprv_wrapper .table-bordered > tfoot > tr > th,
div.dtfh-floatingparent table.table-bordered > thead > tr > th
{

  text-align: center;
  color: #0C142D;

}

#dtprv_wrapper .table-bordered > thead > tr > td,
#dtprv_wrapper .table-bordered > tbody > tr > td, 
#dtprv_wrapper .table-bordered > tfoot > tr > td 
{

  color: #59555B;

}