{% extends "base.html" %}

{% block page %}


  <div id="dtplus_dtprv_wrapper">
  <input type="hidden" id="dtprv_is_preview" value="{% if resource.get( 'preview' ) == True %}True{% else %}False{%endif%}"/>
  <input type="hidden" id="dtprv_preview_rows" value="{{ resource.get( 'preview_rows' ) }}"/>
  <input type="hidden" id="dtprv_total_record_count" value="{{ resource.get( 'total_record_count' ) }}"/>
  <input type="hidden" id="dtprv_metadata_modified" value="{{ h.dtprv_date(resource.get( 'metadata_modified' ) ) }}"/>  
    <table id="dtprv"
      class="table table-bordered"
      data-module="datatablesview_plus"
      data-datadictionary='{{ h.datastore_dictionary(resource.id)|tojson }}'
      data-summary-statistics='{{ h.get_dataset_summary_statistics( resource.name )|tojson }}'
      data-paging="true"
      data-server-side="true"
      data-processing="true"
      data-ajax='{
          "url": "{{ h.url_for(
            'datatablesview_plus.ajax',
            resource_view_id=resource_view.id) }}",
          "type": "POST",
          "data": { "filters": "{{ request.args.get('filters', '')|e }}" }
        }'

      {% if resource_view.get('responsive') %}
        data-responsive="true"
        data-scroll-x="false"
      {% else %}
        data-responsive="false"
        data-scroll-x="true"
      {% endif %}

      {#

        DT data-dom reference:
        f = free text search
        Q = SearchBuilder
        i = info summary
        B = select buttons
        r = processing indicator
        p = pagination controls
        l = length control
        S = status 
        t = table

      #}

      {# only turn on row-selection if it is a full dataset #}
      {% if resource.get( 'preview' ) == True %}
        data-select="false"
        data-dom="<'dt-header-wrapper'
          <'row'<'col-sm-12 col-md-12'r>>
          <'row'<'col-sm-5 col-md-5'i><'col-sm-2 col-md-2'l><'col-sm-5 col-md-5'p>>        
        >St
        "
      {% else %}
        data-select="true"
        data-dom="<'dt-header-wrapper'
          <'dt-free-text-search row'<'col-sm-4 col-md-4'f><'advanced-search col-sm-8 col-md-8'>>
          <'row'<'col-sm-12 col-md-12'Q>>
         <'row'<'col-sm-12 col-md-12'B>>
         <'row'<'col-sm-12 col-md-12'r>>
          <'row'<'col-sm-5 col-md-5'i><'col-sm-2 col-md-2'l><'col-sm-5 col-md-5'p>>
          >
          St
        "
      {% endif %}

      data-fixed-header="true"
      data-fixed-columns="true"

      data-keys="false"
      style="width: 100%;"
      data-filename="TWDH-subset-{{ package.get( 'name', 'twdh-filtered-dataset') }}"
    >
    <thead>
      <tr>
        {% for field in [{'id': '_id'}] + h.datastore_dictionary(resource.id) %}
          {% if 'show_fields' not in resource_view
            or field.id in resource_view.show_fields %}
            <th scope="col" id="{{ field.id }}">{{ field.id }}</th>
          {% endif %}
        {% endfor %}
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <form id="filtered-datatables-download" method="POST" action="{{ h.url_for(
                                                                  'datatablesview_plus.filtered_download',
                                                                  resource_view_id=resource_view.id) }}">
    <input type="hidden" name="filters" value="{{ request.args.get('filters', '')|e }}" />
  </form>
  </div>
{% endblock %}

{% block styles %}
  {{ super() }}
  {% asset 'ckanext-datatablesview_plus/main-css' %}
  {% asset 'ckanext-datatablesview_plus/main-js' %}
{% endblock %}

{% block custom_styles %}{% endblock %}
