{% extends "base.html" %}

{% block page %}
  
  <div id="dtplus_dtprv_wrapper">
  <input type="hidden" id="dtprv_is_preview" value="{{ resource.preview }}"/>
  <input type="hidden" id="dtprv_preview_rows" value="{{ resource.preview_rows }}"/>
  <input type="hidden" id="dtprv_total_record_count" value="{{ resource.total_record_count }}"/>
  <input type="hidden" id="dtprv_metadata_modified" value="{{ h.dtprv_date(resource.metadata_modified) }}"/>  
    <table id="dtprv"
      class="table table-bordered"
      data-module="datatablesview_plus"
      data-datadictionary='{{ h.datastore_dictionary(resource.id)|tojson }}'
      data-summary-statistics='{{ h.get_dataset_summary_statistics( resource.name )|tojson }}'
      data-paging="true"
      data-server-side="true"
      data-processing="true"
      data-ajax='{
          "url": "{{ h.url_for(
            'datatablesview_plus.ajax',
            resource_view_id=resource_view.id) }}",
          "type": "POST",
          "data": { "filters": "{{ request.args.get('filters', '')|e }}" }
        }'

      {% if resource_view.get('responsive') %}
        data-responsive="true"
        data-scroll-x="false"
      {% else %}
        data-responsive="false"
        data-scroll-x="true"
      {% endif %}

      data-fixed-header="true"
      data-fixed-columns="true"
      data-dom="QfiBrtplS"
      data-keys="false"
      style="width: 100%;"
    >
    <thead>
      <tr>
        {% for field in [{'id': '_id'}] + h.datastore_dictionary(resource.id) %}
          {% if 'show_fields' not in resource_view
            or field.id in resource_view.show_fields %}
            <th scope="col" id="{{ field.id }}">{{ field.id }}</th>
          {% endif %}
        {% endfor %}
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <form id="filtered-datatables-download" method="POST" action="{{ h.url_for(
                                                                  'datatablesview_plus.filtered_download',
                                                                  resource_view_id=resource_view.id) }}">
    <input type="hidden" name="filters" value="{{ request.args.get('filters', '')|e }}" />
  </form>
  </div>
{% endblock %}

{% block styles %}
  {{ super() }}
  {% asset 'ckanext-datatablesview_plus/main-css' %}
  {% asset 'ckanext-datatablesview_plus/main-js' %}
{% endblock %}

{% block custom_styles %}{% endblock %}
